# Exploratory Data Analysis (EDA) for Customer Segmentation

#### Description: 
TechElectro Inc. is a prominent electronics retailer with a widespread customer base. They are keen on gaining deeper insights into their customers' preferences and behaviors to optimize their marketing strategies and enhance customer satisfaction. Glowingsoft Technologies has been selected to conduct an exploratory data analysis (EDA) project that will help TechElectro Inc. discover meaningful patterns and segment their customers based on their characteristics.

### Client Name: TechElectro Inc.
### Company Name: Glowingsoft Technologies
### <span style="color:blue;">Data Scientist: Tausif Ul Rahman</span>
### Contact Now: cwtausif@gmail.com

### Steps:

Data Collection: Obtain the dataset from TechElectro Inc., containing customer information, purchase history, demographics, and preferences.

Data Cleaning: Clean the dataset by handling missing values, duplicates, and any inconsistencies.

Data Preprocessing: Perform feature scaling, normalization, and encode categorical variables if needed.

Exploratory Data Analysis: Utilize Python libraries (e.g., Pandas, Matplotlib, Seaborn) to visualize and explore the data, uncovering patterns and insights about customer behavior.

Customer Segmentation: Apply clustering algorithms (e.g., K-means) to segment customers based on their buying patterns, demographics, and preferences.

### Tools: Python, Jupyter Notebook, Pandas, Matplotlib, Seaborn, Scikit-learn

### Deployment:
After completing the EDA and customer segmentation, DataGenius Analytics will create an interactive dashboard using Dash or Streamlit. This dashboard will allow TechElectro Inc. to explore the customer segments and access visualizations that reveal customer preferences, helping them optimize marketing campaigns and tailor their offerings to specific customer groups.

### Project Outcome: 
The final deliverables will include a Jupyter Notebook containing the EDA process, a report detailing the insights and identified customer segments, and an interactive dashboard deployed for TechElectro Inc. to use in their business decisions. The project's aim is to provide valuable information that will enable TechElectro Inc. to improve customer satisfaction and increase sales through targeted marketing strategies. DataGenius Analytics will also provide recommendations for further analysis and potential areas of improvement.

Dataset Sample: TechElectro_Customer_Data.csv

| CustomerID | Age | Gender | MaritalStatus | AnnualIncome (USD) | TotalPurchases | PreferredCategory |
|------------|-----|--------|---------------|-------------------|----------------|-------------------|
| 1001       | 33  | Male   | Married       | 65000             | 18             | Electronics       |
| 1002       | 28  | Female | Single        | 45000             | 15             | Appliances        |
| 1003       | 42  | Male   | Single        | 55000             | 20             | Electronics       |
| 1004       | 51  | Female | Married       | 80000             | 12             | Electronics       |
| 1005       | 37  | Male   | Divorced      | 58000             | 10             | Appliances

### Description of the columns:

CustomerID: Unique identifier for each customer.

Age: Age of the customer.

Gender: Gender of the customer (Male/Female).

MaritalStatus: Marital status of the customer (Married/Single/Divorced).

AnnualIncome: Annual income of the customer in USD.

TotalPurchases: Total number of purchases made by the customer.

PreferredCategory: The category of products the customer prefers (e.g., Electronics, Appliances).

(Note: The dataset should contains a total of 500 customers.)

### Step: Import Libraries

In [1]:
import pandas as pd
import random

### Step: Create CSV File

In [2]:
# create an empty Data Frame
df = pd.DataFrame()

# File path for csv
file_path = "TechElectro_Customer_Data.csv"

# Create CSV
df.to_csv(file_path,index=False)

### Step:  Read CSV File

In [3]:
try:
    df = pd.read_csv(file_path)
    # Display the DataFrame
    print(df)
except pd.errors.EmptyDataError:
    print("Data set is empty or have no columns")
except FileNotFoundError:
    print(f"File '{file_path}' not found")
except Exception as e:
    print(f"An unexpected error occurs '{e}'")

Data set is empty or have no columns

### Step: Create Columns

In [4]:
# Define column names list for the csv
columns = ["CustomerID","Age","Gender","Marital Status","AnnualIncome","TotalPurchases"]

# Crete an empty dataframe with specified columns
df = pd.DataFrame(columns=columns)
df.to_csv(file_path,index=False)
print(f"Empty csv with columns\n\n'{','.join(columns)}'\n\nhas been created successfully")
print(df)

Empty csv with columns

'CustomerID,Age,Gender,Marital Status,AnnualIncome,TotalPurchases'

has been created successfully
Empty DataFrame
Columns: [CustomerID, Age, Gender, Marital Status, AnnualIncome, TotalPurchases]
Index: []

### Step: Ad Another Column

In [5]:
# Ad another column PreferredCategory
df = pd.read_csv(file_path)

df["PreferredCategory"] = None
df.to_csv(file_path,index=False)

print(f"A new column PreferredCategory added to csv successfully")
df

A new column PreferredCategory added to csv successfully

Empty DataFrame
Columns: [CustomerID, Age, Gender, Marital Status, AnnualIncome, TotalPurchases, PreferredCategory]
Index: []

### Step: Remove space from column names

In [6]:
# Read CSV File
df = pd.read_csv(file_path)

# Remove Space
df.columns = df.columns.str.replace(' ','')
df.to_csv(file_path,index=False)

# Verify
df = pd.read_csv(file_path)
df.columns

Index(['CustomerID', 'Age', 'Gender', 'MaritalStatus', 'AnnualIncome',
       'TotalPurchases', 'PreferredCategory'],
      dtype='object')

### Step: Data Creation

#### 1. CustomerID

In [7]:
# Create 500 customer ids starting from 1000
customerIds = []
for i in range (1001,1501):
    customerIds.append(i)
    
print(customerIds[495:]) # Last Few
len(customerIds)

[1496, 1497, 1498, 1499, 1500]

500

#### 2. Age

In [8]:
# Create 500 ages of the people ranging from 20-75 using list comprehension

ages = [random.randint(20,75) for _ in range(500)]

## Print last few
print(ages[495:])
## Total Verify
len(ages)

[44, 41, 20, 59, 50]

500

#### 3. Gender

In [9]:
# Create 500 Gender data
genders_choice = ["Male","Female"]
genders = [random.choice(genders_choice) for _ in range(500)]

# Print Few
genders[:4]
# verify
len(genders)

500

#### 4. MaritalStatus

In [10]:
#MaritalStatus
marital_status = ["Married","Single","Divorced"]
maritalStatuses = [random.choice(marital_status) for _ in range(500)]

# Print few
print(maritalStatuses[:10])
len(maritalStatuses)

['Single', 'Divorced', 'Divorced', 'Married', 'Single', 'Single', 'Single', 'Married', 'Married', 'Divorced']

500

#### 6. AnnualIncome

In [17]:
#AnnualIncome
annualIncome = [random.randint(100000,1000000) for _ in range(500)]

#print few
print(annualIncome[:9])
#verify length
len(annualIncome)

[119633, 882456, 917189, 938846, 908631, 311854, 470066, 781524, 729674]

500

#### 7. TotalPurchases

In [18]:
#Total Purchases
totalPurchases = [random.randint(1,50) for _ in range(500)]

#print few
print(totalPurchases[:5])
#verify length
len(totalPurchases)

[33, 14, 6, 8, 8]

500

#### 8. PreferredCategory

In [19]:
#PreferredCategory
preferredcategory_choices = ["Electronics","Appliances"]
preferredCategory = [random.choice(preferredcategory_choices) for _ in range(500)]

# Print few
print(preferredCategory[:15])
len(preferredCategory)

['Appliances', 'Appliances', 'Appliances', 'Electronics', 'Appliances', 'Appliances', 'Electronics', 'Appliances', 'Electronics', 'Appliances', 'Appliances', 'Electronics', 'Electronics', 'Electronics', 'Electronics']

500

#### Step: Save Data to csv

In [28]:
# Read CSV
df = pd.read_csv(file_path)
df.head

data = {
    'CustomerID':customerIds,
    'Age':ages,
    'Gender':genders,
    'MaritalStatus':maritalStatuses,
    'AnnualIncome':annualIncome,
    'TotalPurchases':totalPurchases,
    'PreferredCategory':preferredCategory
}

df = pd.DataFrame(data)
df.to_csv(file_path,index=False)
df.head(500)

,CustomerID,Age,Gender,MaritalStatus,AnnualIncome,TotalPurchases,PreferredCategory
0,1001,72,Female,Single,119633,33,Appliances
1,1002,34,Male,Divorced,882456,14,Appliances
2,1003,40,Female,Divorced,917189,6,Appliances
3,1004,27,Female,Married,938846,8,Electronics
4,1005,66,Female,Single,908631,8,Appliances
...,...,...,...,...,...,...,...
495,1496,44,Male,Single,582269,20,Electronics
496,1497,41,Male,Married,702757,38,Electronics
497,1498,20,Male,Married,212893,9,Appliances
498,1499,59,Male,Married,704227,37,Appliances
499,1500,50,Female,Divorced,289868,44,Appliances